@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<link
rel="stylesheet"
href="~/css/style.css"
/>

<div class="hero">
    <nav>
        <!-- <img src="https://i.postimg.cc/DydN4snm/menu.png" alt="" class="menu-img"> -->
        <ul>
            @* <li><a href="">Home</a></li>
            <li><a href="About.cshtml">About</a></li>
            <li><a href="library.html">Application</a></li>
            <li><a href="contact.html">Contact</a></li> *@
            <ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-controller="Home" asp-action="Library">Application</a></li>
    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
</ul>
        </ul>
        <button type="button" onclick="toggleBtn()" id="btn"><span></span></button>
    </nav>

    <div class="lamp-container">
        <img src="https://i.postimg.cc/yYz5Nnqw/lamp.png" alt="" class="lamp">
        <img src="https://i.postimg.cc/SxgtDhXh/light.png" alt="" class="light" id="light">
    </div>

    <div class="text-container">
        <h1>A room without books is like a body without a soul</h1>
        <p>Dive into thousands of worlds waiting just for you, from timeless classics to today’s bestsellers.</p>
        <a asp-controller="Home" asp-action="Library">Check All Collections</a>
        <!-- <div class="control">
            <p>04</p>
            <div class="line"><span></span></div>
            <p>05</p>
        </div> -->
    </div>
</div>
<script src="~/js/home.js"></script>
